.full-page {
  background: linear-gradient(#18111D, #3A2E83);
  color: white;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  overflow-y: auto;
}

img {
  max-height: 400px;
}

#blog-title {
  float: right;
  margin-right: 5%;
  background-color: #511A1A;
  height: 200px;
  border-radius: 180px;
}

#title h1 {
  vertical-align: middle;
}

#navbar {
  background: linear-gradient(#26213E, #18142A);
  top: 0;
  float: left;
  position: fixed;
  background-color: navy;
  height: 100%;
  width: 15%;
  padding: 2%;
}

#content {
  margin-left: 18%;
}

.panel {
  width: 40%;
  background: rgba(28, 27, 32, 0.7);
  border-radius: 15px;
  padding: 2%;
  border: 1px solid black;
}

.post-label, .post-title {
  font-size: 120%;
}

.post-label:hover, .post-title:hover {
  color: red;
  cursor: pointer;
}

.hide-post, .delete-post {
  text-decoration: underline;
}

.hide-post:hover, .delete-post:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}

.button {
  background-color: black;
}

.button:hover {
  background-color: gray;
}

input {
  color: black;
}

.footer {
  display: block;
  padding-bottom: 1%;
  margin-top: 75px;
  font-size: 60%;
  position: absolute;
  bottom: 0px;
  margin-left: 37%;
  text-align: center;
  font-size: 14px;
  color: white;
}
