<div class="full-page">
  <div id="blog-title">
    <h1 id="callipygian">{{#link-to 'index'}}Callipygian{{/link-to}}</h1>
  </div>
  <div id="navbar">
    <h2>Callipygian</h2>
    {{#link-to 'index'}}<i class="fa fa-home" aria-hidden="true"></i> Home{{/link-to}}
    <br>
    {{#link-to 'about'}}<i class="fa fa-info-circle" aria-hidden="true"></i> About{{/link-to}}
    <br>
    {{#link-to 'contact'}}<i class="fa fa-address-card" aria-hidden="true"></i> Contact{{/link-to}}
    <hr>
    {{#link-to 'create'}}<i class="fa fa-plus-circle" aria-hidden="true"></i> Create New Post{{/link-to}}
  </div>

  <div id="content">
    {{outlet}}
  </div>
</div>
<div class="footer">
  Copyright (c) 2017 Michaela Davis & Erica Wright All Rights Reserved.
</div>
