<div class="full-page">
  <div id="title">
    <h1>Callipygian</h1>
  </div>
  <div id="navbar">
    <h2>Navbar Menu</h2>

    {{#link-to 'about'}}About{{/link-to}}
    <br>
    {{#link-to 'contact'}}Contact{{/link-to}}
  </div>

  <div id="content">
    {{outlet}}
  </div>
</div>
