<div class="full-page">
  <div id="blog-title">
    <h1 id="callipygian">{{#link-to 'index'}}Callipygian{{/link-to}}</h1>
  </div>
  <div id="navbar">
    <h2>Navbar Menu</h2>
    {{#link-to 'index'}}Home{{/link-to}}
    <br>
    {{#link-to 'about'}}About{{/link-to}}
    <br>
    {{#link-to 'contact'}}Contact{{/link-to}}
    <hr>
    {{#link-to 'create'}}Create New Post{{/link-to}}
  </div>

  <div id="content">
    {{outlet}}
  </div>
</div>
<div class="footer">
  Copyright (c) 2017 Michaela Davis & Erica Wright All Rights Reserved.
</div>
