<h1>Contact Us!</h1>

<h2>Ellie</h2>
<a href="https://github.com/ericaw21"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;Github</a><br>
<p><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Email: ericaw21@gmail.com</p>
<br><br>
<h2>Mikilla</h2>
<a href="https://github.com/Michaela-Davis"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;Github</a><br>
<p><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Email: michaela.delight@gmail.com</p>
<p><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;@_Michaela_Davis</p>
