<h3>Welcome to Callipygian, a blog all about asian fashions (with pictures!)</h3>

<h3>Recent posts:</h3>


{{#each model.posts as |post|}}
  <div class="panel">
    {{post-teaser post=post}}
  </div>
{{/each}}
