<div class="panel">

{{post-detail post=model destroyPost="destroyPost" updatePost="updatePost" updateComment="updateComment" destroyComment="destroyComment"}}
<hr>

{{new-comment saveComment="saveComment" post=model}}
</div>
